sudo: required

services:
    - docker

script:
    - docker build -t a017730/node2 .
    - docker images a017730/node2

before_deploy:
  - docker login -u Kraygnos77 -p a2J)c=#XgShW+E7
  
deploy:
    provider: script
    script: docker push a017730/node-test2
    on:
      branch: master